.about {
  padding: 88px 16px;
  &__image-container {
    @include center;
  }
  &__image {
    background: url("/src/assets/img/hero.jpg") center center / cover no-repeat;
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }
  &__hello {
    display: none;
  }
  &__heading {
    @include smallHeaderMobile;
    color: #234361;
    &--color {
      color: #1070ca;
    }
  }
  &__paragraph {
    @include textMobile;
    text-align: center;
    color: #425a70;
  }
  &__link {
    font-weight: 700;
    color: #4da8ff;
  }
  &__mail {
    @include mail;
  }
}
