.contact {
  background: #dbeaf7;
  padding: 64px 16px;
  &__heading {
    @include bigHeaderMobile;
    color: #234361;
  }
  &__paragraph {
    @include textMobile;
    color: #425a70;
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px 48px;
    &__link {
    }
    &__image {
    }
    &__social {
      width: 48px;
      height: 48px;
      margin-right: 24px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      -webkit-box-shadow: -5px 0px 10px -10px #000000;
      box-shadow: -5px 0px 10px -10px #000000;
      &--github {
      }
      &--instagram {
      }
      &--facebook {
      }
    }
  }
  &__mail {
    @include mail;
    &-container {
      display: flex;
      justify-content: center;
    }
  }
}
