.skills {
  background: #1070ca;
  padding: 64px 16px 96px;
  &__heading {
    @include bigHeaderMobile;
    text-align: center;
    margin: 0 0 100px 0;
    @media (min-width: $desktop) {
      @include bigHeaderDesktop;
    }
  }
  &__grid {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1184px;
      margin: 0 auto;
    }
  }
  &-section {
    &__emoji {
      font-size: 64px;
      line-height: 72px;
      text-align: center;
    }
    &__description {
      @include smallHeaderMobile;
      @media (min-width: $desktop) {
        @include smallHeaderDesktop;
      }
    }
    &__list {
      @include textMobile;
      text-align: left;
      @media (min-width: $desktop) {
        @include textDesktop;
        text-align: left;
        padding: 0 0 0 77px;
      }
      &-item {
        margin-bottom: 24px;
      }
      &--working-knowledge {
        list-style-image: url("../assets/img/small-tick.svg");
      }
      &--know-something-about {
        list-style-image: url("../assets/img/small-tick-transparent.svg");
      }
      &--want-to-learn {
        list-style-type: disc;
      }
    }
  }
}
