@import "~normalize.css";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
@import "modules/about.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
// font-family: 'Nunito', sans-serif;
// font-family: 'Roboto Mono', monospace;

a {
  text-decoration: none;
  color: inherit;
}

.body {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  font-family: 'Nunito', sans-serif;
}

